body {
  background-color: cornsilk;
  background-image: url('/src/assets/images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  div {
    font-size: 20px;
  }
}
.pure-button {
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
